ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 11.5%;
    heigth: 30%;
    color: #666;
    text-align: center;
    font-size: 14px;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 9%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/*Display time as block elements*/
.time {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.time li {
    padding: 10px 0;
    list-style-type: none;
    display: block;
    width: 30%;
    text-align: center;
    margin-button: 5px;
    font-size: 14px;
    color: #666;
}

.columnTime {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.columnTime li {
    padding: 10px;
    list-style-type: none;
    display: block;
    width: 9%;
    text-align: center;
    margin-button: 5px;
    font-size: 12px;
    color: #666;
}

.rowClass {
    padding: 10px 0;
    background: #f4511e;
    margin: 0;
}

.rowClass li {
    padding: 10px;
    list-style-type: none;
    display: inline;
    width: 40%;
    text-align: center;
    margin-button: 5px;
    font-size: 12px;
    color: #006641;
}

.wrap {
    width: 100%;
    overflow: auto;
}

.leftSplit {
    float: left;
    width: 70%;
}

.rightSplit {
    float: right;
    width: 30%;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.box {
    background-color: #1abc9c;
 }